{{>header}}

<div class="container">
    <div class="card-list">
        <div class="phone-card cards">
            <div class="card-img-div">
                <img src="../images/phone-call.png" alt="" class="card-img">
            </div>
            <div class="card-text">
                <p class="card-text-first">
                    Phone
                </p>
                <p class="card-text-next">
                    +91 9138300882
                </p>
            </div>
        </div>
        <div class="email-card cards">
            <div class="card-img-div">
                <img src="../images/email.png" alt="" class="card-img">
            </div>
            <div class="card-text">
                <p class="card-text-first">
                    Email
                </p>
                <p class="card-text-next">
                    shahilverma91383@gmail.com
                </p>
            </div>
        </div>
        <div class="address-card cards">
            <div class="card-img-div">
                <img src="../images/pin.png" alt="" class="card-img">
            </div>
            <div class="card-text">
                <p class="card-text-first">
                    Address
                </p>
                <p class="card-text-next">
                    Hisar, Haryana
                </p>
            </div>
        </div>
    </div>
    <div class="get-in-touch">
        <form action="/contact" method="post">
            <div class="form-input">
                <h1 class="get-in-heading">Get in Touch</h1>
                <div class="name-email-phone">
                    <input type="text" name="name" id="" placeholder="Name" class="name-email-phone-input">
                    <input type="email" name="name" id="" placeholder="Email" class="name-email-phone-input">
                    <input type="phone" name="name" id="" placeholder="Address" class="name-email-phone-input">
                </div>
                <div class="text-message">
                    <textarea name="message" id="" cols="30" rows="10" class="textarea" placeholder="Message">
                </textarea>
                </div>
                <div class="send-msg-btn">
                    <button type="submit" class="contact-btn"> Send Messsage</button>
                </div>
            </div>
        </form>
    </div>


</div>

{{>end}}